<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/" method="get">
  <input type="submit" value="Главная">
</form>

<form action = "/admin/enable/pb" method="get">
  <input type="submit" value="Изменить состояние сервисов заглушки pb">
</form>

<h1>Form</h1>
<form action="#" th:action="@{/admin/response/two}" th:object="${cfgTwo}" method="post">

  <fieldset>
    <legend>Настройка задержки по операциям</legend>
    <p th:each="itemTwo : ${cfgTwo.editMapResponseTwo}">
      <label th:text="${itemTwo.key}">:</label>
      <input name="item.value"
             type="number"
             th:field="${cfgTwo.editMapResponseTwo[__${itemTwo.key}__]}"
             th:value="${itemTwo.value}"
      />В миллисекундах</p>
  </fieldset>
  <p><input type="submit" th:value="Отправить"></p>
  <p><input type="reset" value="Сбросить"></p>

</form>


</body>
</html>